In [1]:
import pandas as pd
from joblib import dump
import uvicorn
from fastapi import FastAPI

import numpy as np
import pickle
import pandas as pd


import sys
sys.path.insert(0, '../fraud-detector/')
sys.path.insert(0, '../data')
sys.path.insert(0, '../')

import conf.scoring_conf as conf
from utils import load_data_local
from feateng import FeatPipeline
import joblib

###############################
# 0. Variable Assignment
###############################

inpath = conf.toscore_inpath # input path of data to be scored
intype = conf.toscore_intype # input path type of data to be scored
model_chosen = conf.model_chosen

###############################
# 1. Data read
###############################
df = load_data_local(inpath, intype)

###############################
# 2. Feature engineering pipeline
###############################
df2 = FeatPipeline.fit_transform(df)

###############################
# 3. Scoring
###############################
model = joblib.load(model_chosen+ ".pkl")

# Convert data to json
target_feature = ["isFraud"]
id_features = ['nameDest', 'nameOrig']
all_features = df.columns.difference(target_feature).difference(id_features)
data = pd.DataFrame.to_json(df2[all_features])

from pydantic import BaseModel

# TODO: make configurable
class Transaction(BaseModel):
    amount: float
    isDestBalanceNewZero: int
    isDestBalanceOldZero: int
    isDestMerchant: int
    isOrigBalanceNewZero : int
    isOrigBalanceOldZero : int
    newbalanceDest : float
    newbalanceOrig : float
    oldbalanceDest : float
    oldbalanceOrg : float
    step: int
    stepDay: int
    stepHour: int
    stepWeekDay: int
    type: str

In [2]:
df2[all_features].head()

,amount,isDestBalanceNewZero,isDestBalanceOldZero,isDestMerchant,isFlaggedFraud,isOrigBalanceNewZero,isOrigBalanceOldZero,newbalanceDest,newbalanceOrig,oldbalanceDest,oldbalanceOrg,step,stepDay,stepHour,stepWeekDay,type
0,309128.55,0,0,0,0,1,1,743261.26,0.0,434132.72,0.00,321,14.0,9.0,0.0,CASH_OUT
1,1035588.40,0,1,0,0,1,0,1035588.40,0.0,0.00,25691.00,154,7.0,10.0,0.0,TRANSFER
2,320499.65,0,0,0,0,0,0,85338.15,8646714.8,405837.80,8326215.15,348,15.0,12.0,1.0,CASH_IN
3,272780.92,0,0,0,0,1,1,928395.54,0.0,655614.62,0.00,262,11.0,22.0,4.0,TRANSFER
4,11310.62,0,0,0,0,1,1,1068365.73,0.0,1057055.11,0.00,227,10.0,11.0,3.0,CASH_OUT

In [28]:
d = [{
  "amount": 309128.55,
  "isDestBalanceNewZero": 0,
  "isDestBalanceOldZero": 0,
  "isDestMerchant": 0,
  "isOrigBalanceNewZero": 1,
  "isOrigBalanceOldZero": 1,
  "newbalanceDest": 743261.26,
  "newbalanceOrig": 0.0,
  "oldbalanceDest": 434132.72,
  "oldbalanceOrg": 0.00,
  "step": 321,
  "stepDay": 14.0,
  "stepHour": 9.0,
  "stepWeekDay": 0.0,
  "type": "CASH_OUT"
},
{
  "amount": 309128.55,
  "isDestBalanceNewZero": 0,
  "isDestBalanceOldZero": 0,
  "isDestMerchant": 0,
  "isOrigBalanceNewZero": 1,
  "isOrigBalanceOldZero": 1,
  "newbalanceDest": 743261.26,
  "newbalanceOrig": 0.0,
  "oldbalanceDest": 434132.72,
  "oldbalanceOrg": 0.00,
  "step": 321,
  "stepDay": 14.0,
  "stepHour": 9.0,
  "stepWeekDay": 0.0,
  "type": "TRANSFER"
}]

In [34]:
pd.DataFrame(d)

,amount,isDestBalanceNewZero,isDestBalanceOldZero,isDestMerchant,isOrigBalanceNewZero,isOrigBalanceOldZero,newbalanceDest,newbalanceOrig,oldbalanceDest,oldbalanceOrg,step,stepDay,stepHour,stepWeekDay,type
0,309128.55,0,0,0,1,1,743261.26,0.0,434132.72,0.0,321,14.0,9.0,0.0,CASH_OUT
1,309128.55,0,0,0,1,1,743261.26,0.0,434132.72,0.0,321,14.0,9.0,0.0,TRANSFER

In [37]:
df = pd.DataFrame(d)
df["apiTagged"] = ""
df["apiTagged"][0] = True
df

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,amount,isDestBalanceNewZero,isDestBalanceOldZero,isDestMerchant,isOrigBalanceNewZero,isOrigBalanceOldZero,newbalanceDest,newbalanceOrig,oldbalanceDest,oldbalanceOrg,step,stepDay,stepHour,stepWeekDay,type,apiTagged
0,309128.55,0,0,0,1,1,743261.26,0.0,434132.72,0.0,321,14.0,9.0,0.0,CASH_OUT,True
1,309128.55,0,0,0,1,1,743261.26,0.0,434132.72,0.0,321,14.0,9.0,0.0,TRANSFER,

In [51]:
from datetime import datetime
# dd/mm/YY
now = datetime.now()
now.strftime("%d-%m-%Y-%H-%M-%S")

'12-06-2021-16-19-48'

In [11]:
model.predict(df2[:3][all_features])

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/compose/_column_transformer.py:430: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

array([0, 0, 0])

In [18]:
data = pd.DataFrame.to_json(df2[:2][all_features])
data

'{"amount":{"0":309128.55,"1":1035588.4},"isDestBalanceNewZero":{"0":0,"1":0},"isDestBalanceOldZero":{"0":0,"1":1},"isDestMerchant":{"0":0,"1":0},"isFlaggedFraud":{"0":0,"1":0},"isOrigBalanceNewZero":{"0":1,"1":1},"isOrigBalanceOldZero":{"0":1,"1":0},"newbalanceDest":{"0":743261.26,"1":1035588.4},"newbalanceOrig":{"0":0.0,"1":0.0},"oldbalanceDest":{"0":434132.72,"1":0.0},"oldbalanceOrg":{"0":0.0,"1":25691.0},"step":{"0":321,"1":154},"stepDay":{"0":14.0,"1":7.0},"stepHour":{"0":9.0,"1":10.0},"stepWeekDay":{"0":0.0,"1":0.0},"type":{"0":"CASH_OUT","1":"TRANSFER"}}'

In [ ]:
{
    "data": [
        [309128.55,0,0,0,0,1,1,743261.26,0,434132.72,0,321,14,9,0,"CASH_OUT"],
        [309128.55,0,0,0,0,1,1,743261.26,0,434132.72,0,321,14,9,0,"TRANSFER"]
    ]
}

In [55]:
import os
files_and_directories = os.listdir("../data/")
files_and_directories

['sample_for_scoring.csv',
 'sample_to_score.txt',
 '.DS_Store',
 'input_data.csv',
 'automation']

In [68]:
import requests

def score_api(file_list):
    #curl - X
    #POST
    #"http://127.0.0.1:5000/predict" - H \
    #        "accept: application/json" \
    #        - H
    #"Content-Type: application/json" \
    #- d
    #"{\"data\":[[4.8,3,1.4,0.3],[2,1,3.2,1.1]]}"#

    url = "http://127.0.0.1:5000/predict_automation"
    headers = {'content-type': 'application/json'}
    response = requests.post(url, data=file_list, headers=headers)

    #with open("filename.xml", "w") as fd:
    #    fd.write(r

In [71]:
pd.read_csv("../data/automation_in/to_score_2021_06_13_12_15_28.csv")

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,304,PAYMENT,12790.17,C575299289,874.00,0.00,M229858881,0.00,0.00,0,0
1,263,CASH_IN,361715.50,C393751636,5014921.78,5376637.28,C1808891905,2034588.20,1672872.70,0,0
2,8,TRANSFER,438246.69,C65655204,0.00,0.00,C2087040347,999529.08,1437775.77,0,0
3,250,TRANSFER,51280.63,C1588912202,0.00,0.00,C2016695297,1375864.81,1427145.44,0,0
4,213,PAYMENT,12817.09,C458966348,44013.00,31195.91,M471764738,0.00,0.00,0,0
5,404,PAYMENT,5851.66,C396329914,46492.00,40640.34,M1137343638,0.00,0.00,0,0
6,134,CASH_IN,9285.22,C717621671,16746379.46,16755664.68,C577022771,2962347.79,2953062.57,0,0
7,12,CASH_OUT,254414.78,C1421322613,0.00,0.00,C1040847151,13143894.15,13483456.42,0,0
8,181,PAYMENT,1635.55,C1024585201,0.00,0.00,M556121171,0.00,0.00,0,0
9,298,CASH_IN,793887.65,C1270835346,20167.00,814054.65,C981821775,0.00,0.00,0,0
10,393,CASH_OUT,385498.81,C1476429854,35607.00,0.00,C173662754,1714822.72,2100321.53,0,0
11,19,CASH_IN,205076.83,C654085307,6840628.02,7045704.85,C179526691,2668870.57,2727621.27,0,0
12,302,CASH_OUT,38369.99,C1904438839,0.00,0.00,C1534506626,134044.62,172414.61,0,0
13,308,PAYMENT,19688.07,C1922150880,96520.15,76832.08,M1800465872,0.00,0.00,0,0
14,14,PAYMENT,7031.54,C1085367203,0.00,0.00,M1342056387,0.00,0.00,0,0
15,179,CASH_IN,129157.34,C1105946381,6432.00,135589.34,C1946221748,77606.56,0.00,0,0
16,287,PAYMENT,58246.86,C1693094901,97.00,0.00,M1307879068,0.00,0.00,0,0
17,17,CASH_OUT,49108.79,C6525673,0.00,0.00,C287644338,532022.41,581131.21,0,0
18,595,PAYMENT,16449.41,C2099544548,0.00,0.00,M66202691,0.00,0.00,0,0
19,133,CASH_OUT,94494.39,C50035686,167.00,0.00,C1749309365,101874.87,451329.71,0,0
20,131,CASH_IN,79489.07,C1220523250,10526186.48,10605675.55,C382068653,124682.89,45193.82,0,0
21,350,PAYMENT,10344.08,C533276225,407.00,0.00,M983232559,0.00,0.00,0,0
22,469,CASH_IN,155009.54,C1936961577,1117517.97,1272527.50,C697143565,564369.80,409360.26,0,0
23,325,CASH_OUT,268039.21,C1371357953,10690.16,0.00,C1299864167,3159277.09,3427316.30,0,0
24,402,CASH_OUT,245380.16,C13011309,0.00,0.00,C1011580411,10460632.49,10706012.65,0,0
25,235,CASH_OUT,242744.93,C409664335,12794.00,0.00,C1815136327,0.00,242744.93,0,0
26,357,PAYMENT,13487.23,C131310276,0.00,0.00,M27869909,0.00,0.00,0,0
27,286,CASH_OUT,264151.87,C425561489,0.00,0.00,C395916974,2446431.17,2710583.03,0,0
28,256,PAYMENT,8545.52,C815371571,0.00,0.00,M325737254,0.00,0.00,0,0
29,345,CASH_IN,437520.50,C255066841,2594639.69,3032160.18,C1427050709,767119.31,329598.82,0,0
...,...,...,...,...,...,...,...,...,...,...,...
61,18,PAYMENT,11903.66,C1730607154,312817.00,300913.34,M1263624507,0.00,0.00,0,0
62,302,CASH_OUT,90513.41,C1475454063,0.00,0.00,C1399141306,779109.43,869622.83,0,0
63,518,CASH_OUT,521422.06,C771437136,10312.00,0.00,C1224969325,0.00,521422.06,0,0
64,211,PAYMENT,10462.98,C820960013,3582.00,0.00,M818121883,0.00,0.00,0,1
65,426,CASH_OUT,260615.17,C994176425,27879.00,0.00,C164396989,183066.57,443681.74,0,0
66,156,CASH_OUT,273646.44,C974754771,0.00,0.00,C1460221297,1746923.10,2020569.54,0,0
67,201,CASH_OUT,134478.50,C780183527,2036.00,0.00,C153497343,348407.98,482886.49,0,0
68,11,TRANSFER,1087797.93,C2065876401,0.00,0.00,C19486515,4737203.71,5825001.65,0,0
69,305,TRANSFER,10000000.00,C1415297432,0.00,0.00,C1617427114,10000000.00,28930040.83,0,0
70,304,CASH_OUT,17188.75,C432121726,0.00,0.00,C1327149543,124060.63,141249.38,0,0
71,160,CASH_OUT,7722.43,C742521682,0.00,0.00,C159954198,112878.94,120601.37,0,0
72,306,CASH_IN,258690.21,C1170721985,98715.00,357405.21,C607253355,12515.00,0.00,0,0
73,154,CASH_OUT,339579.86,C419327795,51347.00,0.00,C1227356851,1563086.81,1960638.33,0,0
74,351,PAYMENT,4732.74,C1733294014,41768.00,37035.26,M1855691327,0.00,0.00,0,0
75,252,CASH_OUT,336374.77,C178432018,7179.00,0.00,C1166879490,79687.45,416062.22,0,0
76,205,CASH_OUT,11725.76,C557600903,0.00,0.00,C443637554,109577.16,121302.91,0,0
77,38,CASH_OUT,20618.35,C289017439,50772.00,30153.65,C1118568360,0.00,20618.35,0,0
78,190,PAYMENT,2243.01,C2040286711,58164.00,55920.99,M857419165,0.00,0.00,0,0
79,550,PAYMENT,6868.57,C435228925,32134.00,25265.43,M243724003,0.00,0.00,0,0
80,181,CASH_OUT,129618.79,C1868697949,0.00,0.00,C459363825,203585.87,333204.66,0,0
81,205,CASH_OUT,139325.36,C792166466,0.00,0.00,C1230867521,292903.60,432228.96,0,0
82,395,CASH_OUT,481926.02,C1577612166,12243.00,0.00,C509219554,130955.94,612881.96,0,0
83,373,TRANSFER,2273644.88,C1179193078,0.00,0.00,C1545556958,2401166.39,4674811.28,0,0
84,159,PAYMENT,6200.50,C1125934846,27001.00,20800.50,M1998843245,0.00,0.00,0,0
85,542,CASH_IN,205587.77,C1493392698,1208569.58,1414157.35,C693911652,403976.18,198388.41,0,0
86,256,CASH_OUT,68438.72,C170863902,216.00,0.00,C1857502508,49857.90,118296.62,0,0
87,297,CASH_IN,306418.23,C2013813630,19684.00,326102.23,C1056665341,0.00,0.00,0,0
88,131,PAYMENT,2356.36,C360595901,6993.00,4636.64,M85844688,0.00,0.00,0,0
89,360,PAYMENT,8112.66,C1469712115,15928.00,7815.34,M166304438,0.00,0.00,0,0
90,136,PAYMENT,8096.51,C101290085,0.00,0.00,M1736998827,0.00,0.00,0,0

In [65]:
files_earlier = [1,2,3,4]
files_now = [1,2,3,4,5,6,7]

[x for x in files_now if x not in files_earlier]

[5, 6, 7]